
organization_id = "<ORG_ID>"

credentials_file_path = "<KEY_FILE>"

billing_account_id = "<BILLING_ACCOUNT>"

project_name = "<CORE_PROJECT>"

network_name = "<VPC_NAME>"

subnet_region_and_cidr = {
  "subnet_01_region" = "<GCP_REGION_A>"
  "subnet_02_region" = "<GCP_REGION_B>"
  "subnet_01_prd"    = "10.30.10.0/24"  # Change if needed
  "subnet_01_dev"    = "10.30.11.0/24"  # Change if needed
  "subnet_01_tst"    = "10.30.12.0/24"  # Change if needed
  "subnet_01_sse"    = "10.30.13.0/24"  # Change if needed
  "subnet_02_prd"    = "10.40.10.0/24"  # Change if needed
  "subnet_02_dev"    = "10.40.11.0/24"  # Change if needed
  "subnet_02_tst"    = "10.40.12.0/24"  # Change if needed
  "subnet_02_sse"    = "10.40.13.0/24"  # Change if needed
}
