project_id = "<CORE_PROJECT>"
credential_file_path = "<KEY_FILE>"
region = "<GCP_REGION_A>"
network_name = "<VPC_NAME>"
deployment_id = "<DEPLOYMENT_ID>"

/*************************
* MIG Template Variables 
*************************/
machine_type = "n1-standard-1"

tags = ["allow-healthcheck"]
source_image = "<GOLD_IMAGE_VM>"
source_image_project = "<CORE_PROJECT>"
auto_delete_disk = "true"
disk_size_gb = "10"
disk_type = "pd-standard"
metadata = {
    "startup-script-url" = "gs://<HELPER_BUCKET>/startup-scripts/ws_bootstrap.sh"
}

service_account = {
    email = "<APP_SA_NAME>@<CORE_PROJECT>.iam.gserviceaccount.com"
    scopes = ["cloud-platform"]
}

subnetwork_name = "dev-<VPC_NAME>-<GCP_REGION_A>"

/*************************
* MIG Cluster Variables 
*************************/
min_replicas = "2"
enable_autoscaling = "true"

/*************************
* Load Balancer Variables 
*************************/
healthcheck_port_name = "http"
healthcheck_port_number = "80"
healthcheck_target_path = "/root/home/index.html"
